<!-- <div class='col-sm-6 col-sm-offset-3'> -->
  <carousel class='text-center'>
      <slide>
          <a class='' #imageOne href="/video/video-1" (click)='preventNormal($event, imageOne)'>
            <img class='img-main-carousel' src="assets/images/nature/1.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          <p><a class="btn btn-default" href="/video/video-1">video 1</a></p>
        </div>
      </slide>
      <slide>
          <a class='' #imageTwo href="/video/video-1" (click)='preventNormal($event, imageTwo)'>
            <img class = 'img-main-carousel' src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
          </a>
          <div class="carousel-caption d-none d-md-block">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p><a class="btn btn-default" href="/video/video-1">video 1</a></p>
        </div>
      </slide>
      <slide>
          <a class='' #imageThree href="/video/video-1" (click)='preventNormal($event, imageThree)'>
            <img class = 'img-main-carousel' src="assets/images/nature/4.jpg" alt="third slide" style="display: block; width: 100%;">
          </a>
          <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          <p><a class="btn btn-default" href="/video/video-1">video 1</a></p>
        </div>
      </slide>
    </carousel>
  <!-- </div> -->
